<div class="generalShelfStyle">
  <table class="tableShelf scroll-container">
    <tbody>
      @for (row of chunkedList; track $index) {
      <tr class="tableRow">
        @for (item of row; track $index) { @if(item !== 'add') {
        <td class="tableCell" (click)="openUpdModal(item)">
          {{ item }}
        </td>

        } @else {
        <td class="tableCell" (click)="openAddModal(item)">
          {{ item }}
        </td>
        } }
      </tr>
      }
    </tbody>
  </table>
</div>
