.generalShelfStyle {
  background-color: var(--shelfcolor);
  width: 570px;
  height: 250px;
  padding: 15px;
  margin-top: 25px;
  margin-left: 50px;
}

.shelfName {
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.tableShelf {
  background-color: var(--insideShelf);
  height: 250px;
  width: 575px;

  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow-y: scroll;
}

.tableRow {
  border-bottom: 15px solid var(--shelfcolor);
  height: 150px;
}

.tableCell {
  width: 80px;
}

/* .lineOfShelf {
  border-bottom: 2px solid tomato;
  width: 100%;
  display: grid;
  border-bottom: 15px solid var(--shelfcolor);
  min-height: 125px;
  box-sizing: border-box;
} */

.scroll-container {
  max-height: 300px;
  overflow-y: auto;
}

/* Add the scrollbar styles as shown above */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--insideShelf);
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--insideShelf);
  color: var(--shelfcolor);
  /* border-radius: 10px; */
  border-radius: 25%;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--insideShelf);
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--shelfcolor) var(--insideShelf);
}

.shelf {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns */
  gap: 10px;
}

.book {
  background-color: lightblue;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-weight: bold;
}

.filler {
  background-color: transparent;
  border: none;
}

button {
  border: transparent;
}
