.general {
  background-color: var(--shelfcolor);

  width: 300px;
  height: 195px;

  text-align: center;

  border-radius: 25px;
  padding: 15px 0;

  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1440px) {
    width: 660px;
    height: 240px;

    border-radius: 56px;
  }
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.chat {
  background-color: var(--insideShelf);
  width: 100%;
  height: 180px;
  border-top: 1px solid var(--lettercolor);
  border-bottom: 1px solid var(--lettercolor);
  margin-top: 10px;

  overflow-y: scroll;
}

.scroll-container {
  max-height: 300px;
  overflow-y: auto;
}

/* Add the scrollbar styles as shown above */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--insideShelf);
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--insideShelf);
  color: var(--shelfcolor);
  /* border-radius: 10px; */
  border-radius: 25%;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--insideShelf);
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--shelfcolor) var(--insideShelf);
}

.button {
  margin-top: 10px;

  width: 210px;

  padding: 5px 60px;
  border-radius: 20px;

  background-color: var(--updBtncolor);

  color: var(--lettercolor);
  font-family: "Mogra", Courier, monospace;

  font-size: 12px;

  border: 3px solid transparent;
  transition: all 250ms;
  &:hover,
  &:active {
    transform: scale(1.1);
  }

  @media screen and (min-width: 1440px) {
    width: 310px;
    font-size: 20px;
  }
}

.answer {
  width: 92%;

  border-bottom: 1px solid var(--lettercolor);
  text-wrap: wrap;
  word-break: break-all;

  padding: 8px 12px;

  font-size: 12px;

  @media screen and (min-width: 768px) {
    width: 93%;
  }

  @media screen and (min-width: 1440px) {
    width: 96%;
    font-size: 16px;
  }
}

.notEntered {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 25px;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 1440px) {
    border-radius: 56px;
  }
}
