.general {
  background-color: var(--insideShelf);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  font-size: larger;
}

.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groupOfButtons {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 105px;
  height: 45px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--lettercolor);
  background-color: var(--shelfcolor);

  font-family: "Mogra", Courier, monospace;
  font-size: 20px;
  border: 3px solid transparent;
  transition: all 250ms;
  &:hover,
  &:active {
    transform: scale(1.1);
  }
}

mat-form-field {
  max-width: 210px;
}

mat-error {
  margin-top: 12px;
}
