.generalShelfStyle {
  position: relative;
  background-color: var(--shelfcolor);
  width: 270px;
  height: 250px;

  padding: 15px;
  /* margin-top: 25px; */
  /* margin-left: 50px; */

  @media screen and (min-width: 768px) {
    width: 570px;
    height: 250px;
  }
}

.shelfName {
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.tableShelf {
  position: relative;
  background-color: var(--insideShelf);
  height: 220px;
  width: 575px;

  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow-y: scroll;

  border-spacing: 0 15px;

  @media screen and (min-width: 768px) {
    overflow-x: hidden;
  }
}

tbody {
  width: 100%;
}

.tableRow {
  border-bottom: 15px solid var(--shelfcolor);
  height: 150px;
  width: 100%;
}

.tableCell {
  width: 80px;
  padding: 0;
}
.tableCell:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.addButton {
  display: flex;
  width: 80px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  max-height: 300px;
  overflow-y: auto;
}

/* Add the scrollbar styles as shown above */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--insideShelf);
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--insideShelf);
  color: var(--shelfcolor);
  /* border-radius: 10px; */
  border-radius: 25%;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--insideShelf);
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: var(--shelfcolor) var(--insideShelf);
}

.shelf {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns */
  gap: 10px;
}

.book {
  background-color: lightblue;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-weight: bold;
}

.filler {
  background-color: transparent;
  border: none;
}

button {
  border: transparent;
}

.notEntered {
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
