<div class="general">
  <h3>Add book</h3>
  <form [formGroup]="addBook" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field apperance="fill" class="field">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Book"
        formControlName="title"
        (blur)="updateTitleErrMessage()"
        required
      />
    </mat-form-field>

    <mat-form-field apperance="fill" class="field">
      <mat-label>Author</mat-label>
      <input
        matInput
        placeholder="Author"
        formControlName="author"
        (blur)="updateAuthorErrMessage()"
        required
      />
    </mat-form-field>

    <mat-form-field apperance="fill" class="field">
      <mat-label>Description and opinion</mat-label>
      <textarea
        matInput
        placeholder="Description and opinion"
        formControlName="descripionAndOpinion"
        (blur)="updateDAOErrMessage()"
        style="resize: none; height: 180px"
      ></textarea>
    </mat-form-field>

    <input
      type="file"
      accept=".jpg, .png"
      class="file"
      (change)="uploadPhoto($event)"
    />

    @if(imageName()) {
    <p class="imageName">{{ imageName() }}</p>
    } @if(isLoading()) {
    <span>Loading...</span>
    } @else {
    <button type="submit" class="button">Add</button>
    } @if(reqErrMessage()){
    <mat-error>{{ reqErrMessage() }}</mat-error>
    } @if(titleErrMessage()){
    <mat-error>Title: {{ titleErrMessage() }}</mat-error>
    } @if(authorErrMessage()){
    <mat-error>Author: {{ authorErrMessage() }}</mat-error>
    } @if(DAOErrMessage()) {
    <mat-error>Description and opinion: {{ DAOErrMessage() }}</mat-error>
    } @if(imageErrMessage()) {
    <mat-error>Image: {{ imageErrMessage() }}</mat-error>
    }
  </form>
</div>
