.general {
  background-color: var(--shelfcolor);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  padding: 16px;
  min-height: 410px;
  min-width: 270px;
  /* width: 800px; */
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    min-width: 600px;
  }
}

h3 {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "n a"
      "p d"
      "pi b"
      "re re";

    width: 100%;
    max-width: 600px;
  }

  @media screen and (min-width: 1440px) {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "p p n a"
      "p p d d"
      "pi pi b b"
      "re re re re";

    width: 100%;
    max-width: 800px;
  }
}

.title {
  grid-area: n;
  width: 95%;
  justify-self: center;
  align-items: center;
}

.author {
  grid-area: a;
  width: 95%;
  justify-self: center;
  align-items: center;
}

.DAO {
  grid-area: d;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 16px;
  background-color: var(--lettercolor);
  color: var(--insideShelf);
  font-family: "Mogra", Courier, monospace;
  font-size: 16px;
  border-radius: 15px;
  border: transparent;
  padding: 8px 16px;

  transition: all 150ms;

  height: 40px;

  &:hover {
    color: var(--shelfcolor);
    transform: scale(1.1);
  }
}

mat-error {
  justify-self: center;
}

.file-field {
  grid-area: p;
  width: 240px;

  justify-self: center;
  align-self: center;

  @media screen and (min-width: 768px) {
    width: 260px;
  }

  @media screen and (min-width: 1440px) {
    width: 300px;
  }
  /* width: 50%;
  height: 50%; */
}

.preview {
  width: 40px;
  height: 75px;
}

.file {
  justify-self: center;
  align-self: center;

  width: 240px;
  height: 105px;
  border: 3px dashed var(--insideShelf);
  border-radius: 25px;

  padding: 20px 0px;

  color: transparent;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &:hover,
  :active {
    border: 3px dashed var(--borderHover);
  }

  @media screen and (min-width: 768px) {
    width: 260px;
    height: 155px;
  }

  @media screen and (min-width: 1440px) {
    width: 300px;
    height: 240px;
  }
}

.file::before {
  content: "+ Add file (to 1MB)";
  padding-left: 24%;
  padding-top: 20%;
  display: inline-block;

  font-weight: 700;
  color: var(--borderHover);
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .file::before {
    padding-left: 28%;
    padding-top: 28%;
  }
}

@media screen and (min-width: 768px) {
  .file::before {
    padding-left: 32%;
    padding-top: 38%;
  }
}

.imageName {
  grid-area: pi;
  align-self: center;
  justify-self: center;
  margin-top: 12px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

span {
  margin-top: 16px;
}

.input-field {
  @media screen and (max-width: 1439px) {
    width: 240px;
    align-self: center;
    justify-self: center;
  }
  /* width: 100%; */
}
