.general {
  background-color: var(--shelfcolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  min-height: 410px;
}

.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  max-width: 210px;
}

.button {
  margin-top: 16px;
  background-color: var(--lettercolor);
  color: var(--insideShelf);
  font-family: "Mogra", Courier, monospace;
  font-size: 16px;
  border-radius: 15px;
  border: transparent;
  padding: 8px 16px;

  transition: all 150ms;

  &:hover {
    color: var(--shelfcolor);
    transform: scale(1.1);
  }
}

mat-error {
  margin-top: 12px;
}

.file {
  width: 210px;
  /*height: 50px; */
  border: 3px dashed var(--insideShelf);
  border-radius: 25px;

  padding: 20px 0px;

  color: transparent;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &:hover,
  :active {
    border: 3px dashed var(--borderHover);
  }
}

.file::before {
  content: "+ Add file (to 1MB)";
  padding-left: 22.5%;
  display: inline-block;

  font-weight: 700;
  color: var(--borderHover);
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.imageName {
  margin-top: 12px;
}

span {
  margin-top: 16px;
}
