<div class="general scroll-container">
  <h3>Add book</h3>
  <form [formGroup]="addBook" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field apperance="fill" class="title input-field">
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Book"
        formControlName="title"
        (blur)="updateTitleErrMessage()"
        required
      />
      @if(titleErrMessage()){
      <mat-error style="grid-area: en; width: 100%"
        >Title: {{ titleErrMessage() }}</mat-error
      >
      }
    </mat-form-field>

    <mat-form-field apperance="fill" class="author input-field">
      <mat-label>Author</mat-label>
      <input
        matInput
        placeholder="Author"
        formControlName="author"
        (blur)="updateAuthorErrMessage()"
        required
      />
      @if(authorErrMessage()){
      <mat-error style="grid-area: ea"
        >Author: {{ authorErrMessage() }}</mat-error
      >
      }
    </mat-form-field>

    <mat-form-field apperance="fill" class="DAO input-field">
      <mat-label>Description and opinion</mat-label>
      <textarea
        matInput
        placeholder="Description and opinion"
        formControlName="descripionAndOpinion"
        (blur)="updateDAOErrMessage()"
        style="resize: none; height: 180px"
      ></textarea>
      @if(DAOErrMessage()) {
      <mat-error style="grid-area: dn"
        >Description and opinion: {{ DAOErrMessage() }}</mat-error
      >}
    </mat-form-field>

    <div class="file-field">
      <input
        type="file"
        accept=".jpg, .png"
        class="file"
        (change)="uploadPhoto($event)"
      />

      @if(imageErrMessage()) {
      <mat-error style="grid-area: pi; align-self: center; justify-self: center"
        >Image: {{ imageErrMessage() }}</mat-error
      >
      }
    </div>
    @if(imageName()) {
    <div class="imageName">
      @if(imagePreview) {
      <img [src]="imagePreview" alt="" class="preview" />
      }
      <p>
        {{ imageName() }}
      </p>
    </div>
    } @if(isLoading()) {
    <span style="grid-area: b">Loading...</span>
    } @else {
    <button type="submit" class="button" style="grid-area: b">Add</button>
    } @if(reqErrMessage()){
    <mat-error style="grid-area: re; margin-top: 12px">{{
      reqErrMessage()
    }}</mat-error>
    }
    <!--@if(titleErrMessage()){
    <mat-error style="grid-area: en">Title: {{ titleErrMessage() }}</mat-error>
    } @if(authorErrMessage()){
    <mat-error style="grid-area: ea"
      >Author: {{ authorErrMessage() }}</mat-error
    >
    } @if(DAOErrMessage()) {
    <mat-error style="grid-area: dn"
      >Description and opinion: {{ DAOErrMessage() }}</mat-error
    >
    } @if(imageErrMessage()) {
    <mat-error style="grid-area: pn">Image: {{ imageErrMessage() }}</mat-error>
    } -->
  </form>
</div>
