<div class="main">
  <h2>Your account</h2>
  <span class="infoField">
    <h3>Name:</h3>
    <p>{{ name }}</p>
  </span>
  <span class="infoField">
    <h3>Email:</h3>
    <p>{{ email }}</p>
  </span>
  <span class="infoField">
    <h3>All amount of books:</h3>
    <p>{{ allAmountOfBooks }}</p>
  </span>
  <div class="groupOfButtons">
    <button class="button upd">Update</button>
    <button class="button del">Delete</button>
  </div>
  <div class="notEntered">
    <h3>Auth</h3>
    <p>For use this app please authorize!</p>
    <div class="groupOfButtons">
      <button class="button signin">Sign in</button>
      <button class="button signup">Sign up</button>
    </div>
  </div>
</div>
